{
  "presets": [
    ["react-app"],
    [
      "@babel/preset-env",
      {
        "targets": {
          "ie": "10",
          "chrome": "57"
        },
        "useBuiltIns": "entry",
        "spec": true
      }
    ]
  ],
  "plugins": [
    ["@babel/plugin-transform-runtime"],
    [
      "@babel/plugin-proposal-decorators",
      {
        "legacy": true
      }
    ]
  ]
}
